#AppTableOfContent {
    position: -webkit-sticky;
    position: fixed;
    top: 120px;
    background: red;
    width: 200px;
    right: 0;

    ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    li {
        a {
            color: $white-color;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
            font-size: 1.6rem;
            font-weight: 200;
        }

        img {
            height: 20px;
        }
    }
}